# Omniverse
**/*.dmp
**/.thumbs

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

# IDE
**/.idea/
**/.claude/
**/.vscode/

# Outputs
**/runs/*
**/logs/*
**/recordings/*
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp
site/

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat
USDs/local_mqesacg6_zegsvn_mjcf_stl.zip
USDs/local_mqesacg6_zegsvn_urdf_stl.zip

.vscode/browse.vc.db*
